muleWorkspace/interoperability/src/main/mule/interoperability.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns:sockets="http://www.mulesoft.org/schema/mule/sockets"
	xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
	http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
	http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
	http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
http://www.mulesoft.org/schema/mule/sockets http://www.mulesoft.org/schema/mule/sockets/current/mule-sockets.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="cf9b5530-b680-4ce2-bb5c-491129cceda6" >
		<http:listener-connection host="localhost" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="1f0be4cd-fac8-4944-85f9-1455b885f92b" basePath="/Cat">
		<http:request-connection host="localhost" port="5074"/>
	</http:request-config>
	<jms:config name="JMS_Config" doc:name="JMS Config" doc:id="5c55c5de-cec6-45ea-b283-a5daf77b4eb4" >
		<jms:active-mq-connection>
			<jms:factory-configuration brokerUrl="tcp://localhost:61616" />
		</jms:active-mq-connection>
	</jms:config>
	<flow name="interoperabilityFlow" doc:id="39fcc032-b8be-4a84-a852-ef1d7c3f44b8" >
		<http:listener doc:name="Listener" doc:id="c2e24c9d-e14d-4613-9635-c8d9afe92f5e" config-ref="HTTP_Listener_config" path="/"/>
		<http:request method="GET" doc:name="Request" doc:id="c20eccdf-c530-44fb-84b6-5e9cb72014f3" config-ref="HTTP_Request_configuration" path="/"/>
		<logger level="INFO" doc:name="Logger" doc:id="3774b02c-3dbc-4d71-80ef-28fbef77f2b9" message="Primil sam ga"/>
		<file:write doc:name="Write" doc:id="c6d6243b-4bb4-40b2-8b1e-a3cc7feff2a0" path="D:\Data\University\Interoperability\FePart\muleWorkspace\Get.txt" mode="APPEND">
			<file:content ><![CDATA[#["Get all: " ++ write(payload)]]]></file:content>
		</file:write>
	</flow>
	
	<flow name="interoperabilityFlowCreate" doc:id="39fcc032-b8be-4a84-a852-ef1d7c3f44b8" >
		<http:listener doc:name="Listener" doc:id="c2e24c9d-e14d-4613-9635-c8d9afe92f5e" config-ref="HTTP_Listener_config" path="/Create"/>
		<http:request method="POST" doc:name="Request" doc:id="c20eccdf-c530-44fb-84b6-5e9cb72014f3" path="/" config-ref="HTTP_Request_configuration">
			<http:headers ><![CDATA[#[{
  "Content-Type": "application/json"
}]]]></http:headers>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="3774b02c-3dbc-4d71-80ef-28fbef77f2b9" message="Poslal sam ga"/>
		<file:write doc:name="Write" doc:id="c6d6243b-4bb4-40b2-8b1e-a3cc7feff2a0" path="D:\Data\University\Interoperability\FePart\muleWorkspace\Post.txt" mode="APPEND">
			<file:content ><![CDATA[#["Create: " ++ write(payload)]]]></file:content>
		</file:write>
	</flow>
	
	<flow name="interoperabilityFlowUpdate" doc:id="39fcc032-b8be-4a84-a852-ef1d7c3f44b8" >
		<http:listener doc:name="Listener" doc:id="c2e24c9d-e14d-4613-9635-c8d9afe92f5e" config-ref="HTTP_Listener_config" path="/Update/{p1}"/>
		<http:request method="PUT" doc:name="Request" doc:id="c20eccdf-c530-44fb-84b6-5e9cb72014f3" path="#[attributes.uriParams.p1]" config-ref="HTTP_Request_configuration">
		<http:headers ><![CDATA[#[{
  "Content-Type": "application/json"
}]]]></http:headers>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="3774b02c-3dbc-4d71-80ef-28fbef77f2b9" message="Metnul sam ga"/>
		<file:write doc:name="Write" doc:id="c6d6243b-4bb4-40b2-8b1e-a3cc7feff2a0" path="D:\Data\University\Interoperability\FePart\muleWorkspace\Update.txt" mode="APPEND">
			<file:content ><![CDATA[#["Put: " ++ write(payload)]]]></file:content>
		</file:write>
	
</flow>
	
	<flow name="interoperabilityFlowDelete" doc:id="39fcc032-b8be-4a84-a852-ef1d7c3f44b8" >
		<http:listener doc:name="Listener" doc:id="c2e24c9d-e14d-4613-9635-c8d9afe92f5e" config-ref="HTTP_Listener_config" path="/Delete/{p1}"/>
		<http:request method="DELETE" doc:name="Request" doc:id="c20eccdf-c530-44fb-84b6-5e9cb72014f3" path="#[attributes.uriParams.p1]" config-ref="HTTP_Request_configuration" sendCorrelationId="ALWAYS"/>
		<logger level="INFO" doc:name="Logger" doc:id="3774b02c-3dbc-4d71-80ef-28fbef77f2b9" message="Zvadil sem ga"/>
		<file:write doc:name="Write" doc:id="c6d6243b-4bb4-40b2-8b1e-a3cc7feff2a0" path="D:\Data\University\Interoperability\FePart\muleWorkspace\Delete.txt" mode="APPEND">
			<file:content ><![CDATA[#["Delete: " ++ write(payload)]]]></file:content>
		</file:write>
	</flow>
	<flow name="interoperabilityFlow2" doc:id="2c004a09-c5eb-4b2c-9bc7-3260b8cc435a" >
		<jms:listener doc:name="On New Message" doc:id="cad96b36-c7e3-45ee-bf5b-5fa90659ba5c" config-ref="JMS_Config" destination="cats gotten" ackMode="AUTO">
			<jms:consumer-type >
				<jms:queue-consumer />
			</jms:consumer-type>
		</jms:listener>
		<logger level="INFO" doc:name="Logger" doc:id="3d8aa1e7-798a-4516-9c3b-4efce6c18220" message="Active mq mesage"/>
		<file:write doc:name="Write" doc:id="2e49751f-3d45-4a0d-a124-6444d2c17fc4" path="D:\Data\University\Interoperability\FePart\muleWorkspace\ActiveMq.txt" mode="APPEND"/>
	</flow>

	 

</mule>
